.containerFooter {
    margin-top: 110px;
    padding-left: 30px;
    background-color: rgba(250, 182, 56, 0.20) !important;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.list-group-item {
    background-color: rgba(250, 182, 56, 0);
    border: none !important;
}


.itemItem li {
    color: #353945;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.itemTitulo {
    color: #2A2824 !important;
    font-size: 15px !important;
    font-weight: 700 !important;
}

.redes svg {
    margin: 0px 4px 6px 0px;
}

.copyID {
    color: #2A2824;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding-left:0;
margin-top:50px;

}

.list-group-item {
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
}

footer a{
    color: #353945;
    text-decoration: initial;
}

footer a:hover{
    text-decoration: none;
    color:#5176A2;

}