.contRowHist{
    margin-top: 75px;
    margin-left:300px;
}

.rowHist h1{
    color:#FAB638;
    font-size: 48px;
    font-weight: 700;

}

.shc{
    margin-top:10px;
}

.atvEncerrado h1{
    color:#5176A2;
    font-size: 24px;
    font-weight: 600;
}

.imagem img{
    margin-right:70px;
}

.conteudo{
    margin-top:50px;
    margin-bottom:100px;
}

.btnX{
    margin-right:50px;
}

.texto p{
    color: black;
    font-size: 16px;
}

.tituloHist{
    font-weight: 700;
    color: #5176A2 !important;
    font-size: 20px !important;
}

#enc{
    color: #5175a2bd;
}

a{
    color: #5176A2;
    text-decoration: initial;
}

#enc:hover, a:hover{
    text-decoration: none;
    color:#fab63892;

}

